[2018-10-01 17:57] bparees opened #21 "status/processing of changing installtype is incorrect"
1) starting from a default CR w/ installtype: centos

2) change the installtype to rhel8, status correctly reports:
[code]
3) change the installtype to rhel.  Status message does not change, I would expect it to just say "changing the install type is not allowed", it shouldn't be complaining about "rhel8" anymore.

4) change the installtype to "centos".  Status message does not change.  I would ex

[2018-10-01 17:58] bparees commented on #21
(not surprisingly, the architecture field behaves the same way)

[2018-10-01 18:06] bparees commented on #21
looks like "ConfigurationValid" is true in (4) though.  So just the message isn't being updated.

[2018-10-01 23:03] #21 closed

[2018-10-04 20:54] bparees opened #24 "report error if registry is registry.redhat.io and no secret provided"
If the configuration is to install rhel imagestreams, and no override registry is provided (or the override registry is registry.redhat.io), and there is no imageimport secret available, we should report an error and refuse to proceed.

Otherwise we're going to create the imagestreams and they're going to fail to import and then the user has to manually re-import them after creating the secret.

[2018-10-04 21:12] bparees opened #25 "samples operator should wait for registry to exist"
for complex reasons i can explain in person, it would be best if the samples operator did not install the samples until after we know the registry has been installed.

Unfortunately this means checking at least two places for the registry:

1) the default namespace (3.11 and earlier)
2) the openshift-image-registry namespace (4.0 and beyond, assuming migration has happened or a clean install)

The

[2018-10-05 01:33] gabemontero commented on #25
Can we look up the registry operator's custom resource and check for a condition indicating whether the registry is up?  Presumably the registry operator is already dealing with the registry running in either namespace, right?

[2018-10-05 02:19] bparees commented on #25
no because in the case of a 3.11 migration the registry operator may not be able to take over/come up, but the internalHostName configuration will still be present.

[2018-10-05 19:00] #24 closed

[2018-10-10 13:33] gabemontero commented on #25
Took a bit of a stroll down the `internalRegistryHostname` path ... saw how the value in the config file is processed and propagated, but did see a viable way that my operator pod could interact with the api server to get the value.

To closest, albeit still seemingly non-viable, option was the deprecated env var that is set (but can be overrided by the config value specified for `internalRegistry

[2018-10-10 13:34] bparees commented on #25
The config mechanism for that value will also be changing in 4.0, the values will come out of a configmap, so it will be easier for your operator to track down and examine at that point.

[2018-10-10 13:36] gabemontero commented on #25
ah yeah I have caught wind of some of that ..... ok, so hold tight on doing this until that arrives, and no intermediate solution of looking for the service/pod, right?

[2018-10-10 13:37] bparees commented on #25
yeah, let's hold on this until some other pieces fall into place/mature.

[2018-10-15 20:19] bparees opened #31 "move samples custom resource to be cluster scoped"
Since we only want one set of samples per cluster anyway and because finalizers deadlock themselves when the finalizer and the resource being finalized run in the same namespace, we need to switch the samples resource CRD to be cluster scoped instead of namespace scoped.

/cc @deads2k

/assign @gabemontero

[2018-10-15 20:35] gabemontero commented on #25
OK, brought up and installer based cluster, and I found the config map with the old master-config.yaml data, including `internalRegistryHostname`

And in looking at registry pods, given the current state of this writing, and see both the default and new registry operator namespaces with running registry pods.

However, talked with @deads2k, showed him what I found, and he says that master-config.y

[2018-10-16 18:15] gabemontero commented on #31
So looking at various existing operators for comparison.

My interpretation on what needs to be done:
- of course in the crd change scope from Namespaces to Cluster
- create a clusterrolebinding file, where the subject is a new SA defined in the sample operator namespace
- new file to create said SA which has the clusterrolebinding
- add the SA ref to the operator's deployment definition, at the b

[2018-10-16 18:29] gabemontero commented on #31
samples operator is not current defining an SA ... the role is being added to the `default` SA

do you want me to just add the cluster role binding to the `default` SA ?

[2018-10-16 18:35] bparees commented on #31
no it's probably best to get aligned w/ the image-registry operator and start creating an SA and using it to run the operator.

[2018-10-16 20:04] gabemontero commented on #31
no issues on the sdk front when running locally ... pr up

[2018-11-09 13:19] gabemontero commented on #25
Confirmed this is no longer needed.  Quote from @bparees:  `I put changes into the controller manager operator that should ensure it doesn't matter anymore.`

[2018-11-09 13:19] #25 closed

[2018-12-17 18:46] gabemontero opened #69 "clusteroperator condition message improvements"
slack exchange:

[code]

@bparees FYI in general

@dmage @legionus @coreydaley FYI re: @smarterclayton wants tweaks to the image-registry messages as well

[2018-12-17 18:48] smarterclayton commented on #69
For context see https://github.com/openshift/cluster-version-operator/blob/master/pkg/cvo/status.go which has comments and examples of how the CVO works which is what this pattern is modeled on.

[2018-12-17 18:58] smarterclayton commented on #69
https://github.com/openshift/cluster-version-operator/pull/72 is docs around what to do

[2019-01-03 03:10] #69 closed

[2019-02-08 18:52] bparees opened #96 "rename deploy directory to manifests"
to better align w/ our other operators.

[2019-02-08 19:16] bparees commented on #96
/unassign @gabemontero
/assign @bparees

forgot i apparently created a PR for this already:
https://github.com/openshift/cluster-samples-operator/pull/90

[2019-02-09 00:43] #96 closed

[2019-02-12 15:20] sjenning opened #100 "operator status Progressing=True long after the cluster reaches idle"
I observe the operator stay in `Progressing=True` for 6-8m after the last pod in the cluster (typically telemeter-client) is `Running`.  The installers waits on all operators to be `Progressing=False` before reporting completion.  Happened on 2 of 3 install runs for me.

[2019-02-12 15:46] gabemontero commented on #100
Bad registry download performance *could* lead to that @sjenning

Per https://github.com/openshift/cluster-samples-operator#troubleshooting
running `oc get configs.samples.operator.openshift.io instance -o yaml` would be helpful.

@bparees perhaps the first signs of the ramifications of our switch to rhel and adding the samples operator 's stub cluster status obj into the loop

[2019-02-12 16:04] sjenning commented on #100
I'll try to recreate and get this data

[2019-02-12 16:09] gabemontero commented on #100
thanks @sjenning

[2019-02-12 16:17] bparees commented on #100
There is on-going discussion about what the installer should be waiting for.  Last time I brought this up I was told it was waiting for available=true (no mention of progressing=false), so we updated this operator to change what "available" means so it can claim to be available sooner.  I'm not inclined to do the same with progressing..  the operator is progressing because it is importing the samp

[2019-02-12 16:26] gabemontero commented on #100
I may be seeing this in PR testing from https://github.com/openshift/cluster-samples-operator/pull/99 ... investigating the latest run

[2019-02-12 16:36] gabemontero commented on #100
In my PR https://github.com/openshift/cluster-samples-operator/pull/99, it is hitting the manifest ordering issue getting fixed with https://github.com/openshift/cluster-samples-operator/pull/101

I'll have to pick the 101 fix into the 99 PR.

That bug though would always cause an error.  If @sjenning at least had some success, we are back to perf and @bparees 's points / questions at https://gith

[2019-02-12 17:47] gabemontero commented on #100
https://github.com/openshift/cluster-samples-operator/pull/101 has merged

I'll post here again once I get the buildsys email

[2019-02-13 15:29] bparees commented on #100
answer to my question above:
https://github.com/openshift/cluster-version-operator/blob/master/docs/dev/clusteroperator.md#how-clusterversionoperator-handles-clusteroperator-in-release-image

however i still believe this is changing w/ the upgradeable condition that's being added, so i still don't think we should make any changes in this behavior right now.

[2019-02-13 18:00] gabemontero commented on #100
OK I was finally able to bring up an AWS cluster using today's latest installer (after hitting some of the known flakes discussed in 4-dev-triage)

Times:
- image imports:  8 minutes 39 seconds

start:
[code]

end:
[code]

- sample api obj creation

we actually got some connections refused from the master on objecct creation, like

[code]
time="2019-02-13T16:12:09Z" level=info msg="Spec is valid b

[2019-02-13 18:05] gabemontero commented on #100
@sjenning with the latest install from today it has the RBAC fixes we noted yesterday

Please do that repro when time permits for you.

And if possible I'd like to add:

[code]

To the
`oc get configs.samples.operator.openshift.io instance -o yaml`

I noted before.

I'll be circling back and doing some additional installs to gather more comparison points to what I saw in https://github.com/openshi

[2019-02-13 20:01] gabemontero commented on #100
As a point of comparison, after my cluster had been up for a few hours, I nuked the samples, samples operator config / cluster status and brought the deployment down.

- Total end to end creation time: **1 Minute 23 Seconds**
start:
[code]

end:
[code]

- image import:  started while the creations were going on, but completed **9 seconds** after the last sample was created

[code]

So resource con

[2019-02-13 20:34] sjenning commented on #100
didn't catch it in the act because i got distracted but...
[code]
delta of 12m between operator creation and `Progressing` transitioning to `False`.

operator logs
[code]

[2019-02-13 20:36] sjenning commented on #100
grepping for CRD
[code]

[2019-02-13 20:38] gabemontero commented on #100
yep not too dissimilar a result from mine on the initial install

I bet if you tried it again once the cluster stabilized, you'd see something along the 10 to 1 reduction I saw

[2019-02-13 20:40] sjenning commented on #100
so this is due to the openshift api dropping causing `he server could not find the requested resource (get imagestreams.image.openshift.io)`?

[2019-02-13 20:42] gabemontero commented on #100
The easy version to redo after the clusters has installed and stabilized:
- `oc delete config.samples.operator.openshift.io instance `

The operator will recreate after deleting everything

[2019-02-13 20:43] gabemontero commented on #100
I would presume so re: your dropping question @sjenning , along with `the server could not find the requested resource (post imagestreams.image.openshift.io)"`

[2019-02-13 20:47] bparees commented on #100
if the openshift apiserver is restarting during samples import, that would definitely delay the import process.  And it probably is restarting, at a minimum it's going to restart when the registry operator publishes the internal registry hostname to the apiserver for example, and since both the registry+samples operators start at the same time....

likely other things are triggering apiserver rest

[2019-02-13 20:50] gabemontero commented on #100
re: apiserver restart / resource constraint, perhaps motivation for making turning on samples a day 2 operation like @bparees and I discussed with @derekwaynecarr at RAL snack time today

[2019-02-13 21:02] bparees commented on #100
It feels like a false economy to claim "yeah, the install is faster now" but in reality we've just pushed work off to an admin that has to be done later and which now requires explicit manual steps instead of being automatic.

As a user, i'd rather wait 10 extra minutes up front than have go take some manual action later (which requires that i know i need to do it and know how to do it).  Obviousl

[2019-02-13 21:03] bparees commented on #100
I'll reiterate that imho the real issue here is that the installer shouldn't block on the samples operator.  We have two ways to fix that:

1) have the samples operator lie/take a different approach about what "available=true/progressing=false" means
2) have the CVO take a different approach about what conditions it expects to see before considering the operator "done".

and of course to that end

[2019-02-13 21:18] sjenning commented on #100
(1) would be faster to implement though.

There is something in that last runlevel of the CVO that causing a redeployment of the controller plane (kube-{apiserver|controller-manager|scheduler} and openshift-{apiserver|controller-manager}.  Probably worth figuring out what is doing that.

[2019-02-18 15:22] gabemontero commented on #100
Some cross referencing:  https://github.com/openshift/cluster-image-registry-operator/pull/204 is targeted at reducing the churn caused by the openshift api server having to restart when the image registry propagates its hostname to it.

With the above change, the image reg operator won't report available until it can confirm the openshift api server has consumed the hostname setting.

This could

[2019-02-18 15:25] gabemontero commented on #100
Some more cross referencing, with https://github.com/openshift/api/pull/206 merging, as consumption of it proliferates, we'll see if use of that condition can help at all in this space.

[2019-02-18 15:33] gabemontero commented on #100
And first update on sampling for today;  bringing up my daily dev cluster with the last installer this AM, I saw *NO* churn wrt to api server restart, and the samples operator completed in 1 minute 23 seconds  ... i.e. a duration on par with my samples noted above when I redid the process after startup had completed.

Not sure yet if this is blind luck, or something underneath us has changed to mi

[2019-02-18 16:59] bparees commented on #100
I think there's a difference between what that PR does (treat the imagestream dockerRepositoryStatus as being "part of the imageregistry - if it's not set, the registry isn't available") and adding pre-req conditions to the samples operator.

And i'm against adding pre-req conditions...  there's going to be an expectation that more and more things can attempt to start in parallel and should just r

[2019-02-18 17:47] gabemontero commented on #100
On Mon, Feb 18, 2019 at 11:59 AM Ben Parees <notifications@github.com>
wrote:

It would have to be prototyped to confirm admittedly.  But fwiw my innate
sense in living this day to day is that the wasted attempts / error cycle
has some impact.

[2019-02-18 17:55] gabemontero commented on #100
On Mon, Feb 18, 2019 at 11:59 AM Ben Parees <notifications@github.com>
wrote:

Do you mean the apiserver itself (i.e. openshift/origin) or the apiserver
operator?  Or maybe some combination?
(I'm trying to search now in the interim)

If possible it would be great to explicitly reference those as part of
closing this out.

—

[2019-02-18 18:48] bparees commented on #100
I think it was the api server itself but @deads2k knows for sure.

Ben Parees | OpenShift

On Mon, Feb 18, 2019, 12:55 Gabe Montero <notifications@github.com> wrote:

[2019-02-18 19:39] gabemontero commented on #100
Looking at his test run:  https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_cluster-samples-operator/109/pull-ci-openshift-cluster-samples-operator-master-e2e-aws/411/artifacts/e2e-aws/clusteroperators.json

1 minute 30 seconds end to end for samples operator to complete.

Associated pod logs were "clean".

[2019-02-19 19:40] gabemontero commented on #100
Even if a recent e2e test run where the install failed to complete, the samples operator completed in less than 2 minutes:  https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_cluster-samples-operator/109/pull-ci-openshift-cluster-samples-operator-master-e2e-aws/415/artifacts/e2e-aws/clusteroperators.json

[2019-02-19 20:07] bparees commented on #100
@sjenning are you ok w/ closing this?  It seems like the improvements to api server stability have largely resolved the problem.

[2019-02-22 13:50] gabemontero commented on #100
Aside from openshift api server churn which appears to have been addressed, which I would still classify as the primary culprit, I did find a bug after repeated repeated runs where if
a) if our in-payload `jenkins-agent-nodejs` imagestreams was the last imagestream to complete its imports
b) and it did not complete before we got the first event for it
the code would think the `nodejs` was still in

[2019-02-23 00:13] #100 closed

[2019-02-27 21:37] bparees opened #117 "types.go should not contain utility/helper functions"
We shouldn't have things like this:
https://github.com/openshift/cluster-samples-operator/blob/master/pkg/apis/samples/v1/types.go#L367

types.go should only define structs for external apis, not functions.

I think it's even undesirable to have functions attached to the api structs at all (instead helper functions should be created that take the api object as an argument), but if you can find ano

[2019-02-27 21:39] bparees opened #118 "pkg/stub is not descriptive"
I think this is leftover from what the operator sdk generated, but we should really refactor "pkg/stub" to a more meaningful package name.  (and whether everything in there should stay where it is should be evaluated too).

[2019-03-04 21:12] bparees opened #124 "enable must-gather object refs"
If the clusteroperator defines object refs, the must-gather tool can automatically collect relevant resources/logs/etc from the references objects/namespaces. See:

https://github.com/openshift/cluster-openshift-controller-manager-operator/pull/76/files#diff-ef02f4dd56d4bd19d7b3e4913b9a57d5R82

This operator should be updated to define appropriate object references.

/cc @adambkaplan @gabemontero

[2019-03-08 01:56] #124 closed

[2019-04-15 18:00] openshift-merge-robot opened #132 "Future Release Branches Frozen For Merging | branch:release-4.20 branch:release-4.21"
The following branches are being fast-forwarded from the current development branch (main) as placeholders for future releases. No merging is allowed into these release branches until they are unfrozen for production release.

 - `release-4.20`
 - `release-4.21`

For more information, see the [branching documentation](https://docs.ci.openshift.org/docs/architecture/branching/).

[2019-04-16 14:47] adambkaplan opened #134 "[api-freeze] Verify operator API is frozen"
*Backwards compatibility of GA APIs*

What constitutes a backwards compatible API?

1. Fields can not be removed (this also means you can’t rename a field)
2. Serialized defaults can not change.  Unserialized defaults in operators can change over time.
3. Behavior (meaning) of a field can not change.  This means that old fields must be maintained even if new fields supercede them.
4. New fields ca

[2019-04-16 14:51] gabemontero commented on #134
@adambkaplan there no pending changes of the ilk you've detailed in the description

[2019-04-16 18:27] #134 closed

[2019-07-09 17:16] kshithijiyer opened #156 "Missing License file."

[2019-08-08 19:53] Zouuup opened #168 "Samples container ignores Proxy setting from proxy.config.openshift.io"
Hello,

Installing behind a corporate proxy, cluster samples Is ignoring the global proxy configuration in proxy.config.openshift.io.

[2019-08-08 20:04] gabemontero commented on #168
This has been asked/raised before ... it is not samples operator's job to honor the global proxy config.

Other controllers related to image registry, control plan, openshift-apiserver manage this on its behalf.

@bparees @adambkaplan FYI / please augment / corrrect if needed.

[2019-08-08 20:04] #168 closed

[2019-08-08 20:08] bparees commented on #168
confirmed.  Presumably the issue you are hitting is either that the imagestreamcontroller isn't (yet) picking up the proxy config so it can't import the imagestream the samples operator created, or the registry isn't, so it can't pullthrough the content for you.

Also not sure why this is opened as a github issue, there's no proxy support in OCP4.1 today for this, and it's being added in 4.2.  If

[2019-09-21 14:52] nnachefski opened #185 "RFE - Add feature to switch ImageStream source registries."
I'm working with Openshift 4.2 pre-release.  I performed a disconnected installation where i mirror images locally and then install from there.  I use the 'oc adm release mirror' feature to mirror the platform's images.  I also have a python script that mirrors the various non-platform (application specific) images.  Additionally, i have a python script that is run post-install that patches all th

[2019-09-23 15:01] gabemontero commented on #185
Thanks for the feedback @nnachefski

You can already override the registry with the SamplesRegistry config setting for the samples operator

https://github.com/openshift/cluster-samples-operator#configuration

https://github.com/openshift/cluster-samples-operator/blob/master/pkg/apis/samples/v1/types.go#L89-L93

Note, there is also an item in the devexp epic list to do even more complex replacemen

[2019-09-23 15:01] #185 closed

[2019-11-12 22:07] gabemontero commented on #117
getting addressed with https://github.com/openshift/cluster-samples-operator/pull/197

[2019-11-12 22:07] #117 closed

[2019-12-05 01:49] dbenoit17 opened #203 "s390x - OpenShift installer does not detect cluster-samples-operator readiness"
On the latest commit on s390x, the cluster samples operator is reporting that it is available and finished progressing, however the openshift installer is not detecting that the operator has finished updating, and ends up timing out.

[code]

[2019-12-05 01:52] yselkowitz commented on #203
@gabemontero @bparees we believe this is a regression in https://github.com/openshift/cluster-samples-operator/pull/187

[2019-12-05 01:53] yselkowitz commented on #203
/assign @gabemontero

[2019-12-05 02:17] bparees commented on #203
@yselkowitz @dbenoit17 can you open this as a bugzilla?

[2019-12-05 02:27] yselkowitz commented on #203
Please note that we are looking for an (urgent) fix for #187 not necessarily a revert, as we do need the overall functionality

[2019-12-05 02:33] bparees commented on #203
@yselkowitz can you show us what the samplers operator clusteroperator resource is reporting so we can understand why the installer might not be recognizing it is finished?

[2019-12-05 03:04] yselkowitz commented on #203
Filed https://bugzilla.redhat.com/show_bug.cgi?id=1779933; @dbenoit17 will have to provide any additional information on the issue.

[2019-12-05 14:53] gabemontero commented on #203
/close

in favor of bugzilla

[2019-12-05 14:53] #203 closed

[2020-03-11 17:52] kshithijiyer opened #245 "ReadMe.md file missing title"

[2020-05-22 21:01] openshift-merge-robot opened #276 "Future Release Branches Frozen For Merging | branch:release-4.6"
The following branches are being fast-forwarded from the current development branch (master) as placeholders for future releases. No merging is allowed into these release branches until they are unfrozen for production release.

 - `release-4.6`

Contact the [Test Platform](https://coreos.slack.com/messages/CBN38N3MW) or [Automated Release](https://coreos.slack.com/messages/CB95J6R4N) teams for mo

[2020-06-02 13:43] chee-ip opened #283 "Cluster operator openshift-samples has not yet successfully rolled out during upgrade on s390x"
When I upgrade OCP from 4.2.x to 4.3.22 for s390x. I got an error on the dashboard described below.

`Unable to apply 4.3.22: the cluster operator openshift-samples has not yet successfully rolled out`

Checked the cluster operator, I saw below messages.

[code]

[2020-06-02 13:48] gabemontero commented on #283
This is a known issue being tracked by https://bugzilla.redhat.com/show_bug.cgi?id=1835996

We have a fix in hand that is going through the OCP z stream process.  Track that BZ and its 4.4.z counterpart, https://bugzilla.redhat.com/show_bug.cgi?id=1835995, for status.

[2020-06-02 13:48] #283 closed

[2020-06-02 14:07] cheeye commented on #283
Thank you!  @gabemontero

[2020-07-06 10:56] mriedmann opened #302 "Using Jenkins in an offline-installation scenario"
We are currently tying to get the Samples-Operator Jenkins-Template working in a air-gapped/offline Installation scenario. We set the `samplesRegistry` value to our on-site mirror-registry and all Imagestreams, except the Jenkins and Jenkins-Agent ones are mapped correctly.

Can someone please give a hint how to fix this?
I tried to set the jenkins-image env-vars on the operator deployment manuall

[2020-07-06 13:20] gabemontero commented on #302
Yeah there was a bugzilla on this in April of this year

For 4.4, you need a 4.4 level with the fix from https://bugzilla.redhat.com/show_bug.cgi?id=1824280
For 4.3, you need a 4.3 level with the fix from  https://bugzilla.redhat.com/show_bug.cgi?id=1826028

[2020-07-06 13:20] #302 closed

[2020-07-18 11:06] yrro opened #306 "Update Jenkins templates to include trusted-ca-bundle fixes"
https://github.com/openshift/jenkins/pull/1045 updates the Jenkins templates to make use of network operator's injected certificate trust bundle.

These changes haven't made it into the templates managed by the samples operator yet. In particular:

###### release-4.3

Fixes not present

[code]

###### release-4.4

Fixes missing for `x86_64`:

[code]

###### release-4.5

Fixes missing for `x86_64`:

[2020-07-20 08:56] yrro commented on #306
Oh, it looks like this is https://github.com/openshift/cluster-samples-operator/pull/299

[2020-09-10 02:50] MichaelWasher opened #323 "Samples Bump for OCP 4.4?"
Hi team,

What's the deals with samples bumps with relation to release-versions for OpenShift?

I can see that there has been a samples-bump for OpenShift 4.5 resulting in OpenJDK18:1.8 tag being present and managed by the Samples Operator in OpenShift 4.5[0] but is not present in OCP 4.4[1].

Is it expected that I need to upgrade to OpenShift 4.5 to get the samples-bump, or is there some other pr

[2020-09-10 12:47] gabemontero commented on #323
The policy is that as sample providers like the open jdk team provide new tags and image versions in their imagestreams, they are only picked up in the current OCP release at the time of their addition, and then any future releases.

We do not backport new tags to releases already out in the field.

Aside from the upgrade option, a customer admistrator certainly is free to add or update imagestrea

[2020-09-10 12:47] #323 closed

[2020-09-13 22:29] MichaelWasher commented on #323
Thanks for the explanation @gabemontero !

[2020-09-23 12:06] yrro commented on #306
Fixes for both monitored and non-monitored service now present for `release-4.6` `release-4.7` and `master`:

[code]

Fixes for monitored service are now present in `release-4.5` and `release-4.4`, but the non-monitored service still hasn't been updated:

[code]

[2020-09-23 14:54] gabemontero commented on #306
@yrro unfortunately we cannot update samples in this repo for releases that have GA'ed without a bugzilla being opened against OpenShift Container Platform.  4.5 and 4.4 fall under that category.

Typically that is done via RH customer support cases.  Is that a viable path for you?

Short term, I do see those templates updated in the "source of truth" for these templates in the openshift/jenkins r

[2020-11-12 08:16] #156 closed

[2020-11-20 20:50] #118 closed

[2020-12-01 21:35] #245 closed

[2021-02-18 14:48] olaf-meyer opened #356 "ImageStreamTags are not updated"
Hello,

I have a question regarding the cluster-sample-operator: I understand the cluster-sample-operator is maintaining the ImageStreams and Templates in the project openshift. I had a look at an older test OpenShift cluster and noticed that the ImageStreamTag were created but are never been updated since. From my point of view, the ImageStreamTags are created when a tag attribute is "added" in a

[2021-02-18 15:59] gabemontero commented on #356
Hey @olaf-meyer

Short answer: yes, this is on purpose.  At least the imagestream internals.  I cannot speak to what the console does.

Longer answer: As RHEL SCL and RH Middleware update their imagestreams with new tags, remove old tags, or change which images a tag points to, we only update in the current release of OCP when we receive that update.  Customers pick up those updates by upgrading t

[2021-02-19 11:31] olaf-meyer commented on #356
Hallo Gabe,

thank you very much for the answer. Did I understood correct that the Images are only updated, if the OpenShift version itself is updated (i.e. from 4.5 to 4.6) or by adding new tags to the ImageStreams?

Olaf

[2021-02-19 15:11] gabemontero commented on #356
My pleasure @olaf-meyer

I think you have it right @olaf-meyer though allow be to clarify your verbiage a bit:

- We only pull in updates to the ImageStreams provided by the RH SCL team (things like python, ruby, mysql, etc.) and the RH Middleware teams (anything under the broad JBoss umbrella) on an initial major release ... i.e. 4.2.0, 4.3.0, 4.4.0, 4.5.0, 4.6.0, 4.7.0, 4.8.0, etc.
- on maintena

[2021-02-20 19:02] #306 closed

[2021-02-22 12:06] olaf-meyer commented on #356
Hallo Gabe,

what do you mean by verbiage?

Anyhow, are there plans to annotate image tags with the `schedules` attribute to keep the tag up to date? I have seen that productive OpenShift clusters run for quite a long time. Certain images i.e. dotnet-core:3.1 will currently not receive updates till the base images changes from rhel7 to rhel8. Before a new tag is available, most of the images get s

[2021-02-22 15:42] gabemontero commented on #356
verbiage == the words used

Sorry, I was just trying to convey I think we were on the same page, but I would have worded it slightly differently.

That would be the responsibility of the image providers, not the samples operator.  I know those image providers provide details on their images in the containers catalog, but have not heard about them annotating their images as well.

One thing we will

[2021-06-01 19:03] #276 closed

[2021-06-29 09:36] X-dark commented on #356
@olaf-meyer is speaking about the `scheduled=true` you can add on the ImageStream to have OpenShift automatically pull the last image for a given tag. This cannot be done by the image provider as it provides an image, not an ImageStream: https://docs.openshift.com/container-platform/4.7/openshift_images/managing_images/tagging-images.html#images-add-tags-to-imagestreams_tagging-images

Are you spe

[2021-07-02 12:46] gabemontero commented on #356
Hey @X-dark  - wanted to let you know that addressing your points / concerns is "on the books".  But one of the items going on with samples is that we are transferring ownership of it to @dperaza4dustbit and his team over the course of this summer.  As such, I've asked him and his team to go over the training materials I've given them so far and see what they can come up with.

So if you can bear

[2021-07-02 12:53] X-dark commented on #356
Hi @gabemontero, thanks for your answer.

We are currently in the process of testing RHACS and we were quite surprised to see all those images flashing red despite provided by the sample operator.
I understand the difficulty of handling such issues while going through a transition process.

I have a support request open anyway, so I will see with them if they have any suggestion to at least do a o

[2021-07-28 07:21] nimasamii opened #382 "Incorrect volume mount in nodejs-postgresql-persistent template"
The template creates a PVC and mounts it to `/var/lib/postgresql/data` in the DB container. However the correct path is `/var/lib/pgsql/data`. This leads to data loss, when the DB container is restarted for any reason (e.g. update of the base image).

[2021-07-28 15:06] afflom opened #383 "Several High Vulnerabilities in Referenced Images"
https://github.com/openshift/cluster-samples-operator/blob/release-4.8/manifests/image-references

This file references an image with 17 High vulnerabilities.

![image](https://user-images.githubusercontent.com/30676559/127346814-a6d40338-e529-438b-bc97-0a694bef63de.png)

[2021-08-08 15:07] gabemontero commented on #382
Hello @nimasamii

While this repository simply hosts this template, it is not the "source" for the template, nor are the maintainers of this repo the maintainer for the actual contents of this template.

Templates like those are owned by the SCL org at https://github.com/sclorg

As they make various updates upstream, those updates are first pulled into https://github.com/openshift/library, and the

[2021-08-08 15:07] gabemontero commented on #382
/close

[2021-08-08 15:07] #382 closed

[2021-08-08 15:28] gabemontero commented on #383
Hey @afflom

This is the same core question/issue as https://github.com/openshift/cluster-samples-operator/issues/356

I am going to close this in favor of that one, and continue the discussion there.  Please subscribe to that one as you see fit.

The quick explanation:  not removing imagestreamtags to images that upstream has removed references to is currently an explicit choice by this operator,

[2021-08-08 15:28] #383 closed

[2021-08-08 16:02] gabemontero commented on #356
OK are skill transfer is still in progress, but we've received another issue related to this, again with the vulnerability warnings in the console with respect to sample images (see https://github.com/openshift/cluster-samples-operator/issues/383#issue-954960893 ) so I'm stepping in with an update while @dperaza4dustbit and team get up to speed.

1) I noted previously about how updates are only pu

[2021-08-08 23:04] bparees commented on #356
So i'm not clear if the "vulnerable" images are present as a result of:

1) being installed at an older OCP version, but not being removed/updated during OCP updates
or
2) the current version of OCP has stale content
or
3) the images themselves do not have newer versions available

but generally our philosophy as i see it should be:
1) never remove a version tag from the samples operator library i

[2021-08-09 19:56] gabemontero commented on #356
thanks @bparees

I've embedded some items below to either more specifically relay my understanding of things, or add some detail which hopefully moves the conversation along.

Yeah to be fair, I have some context outside of this particular issue.  The concern is predominantly your 1) @bparees

Yeah the crux of the ask as I have come to understand it centers around having the operator remove images

[2021-08-09 20:07] bparees commented on #356
i'm inclined to hold to it, and if admins aren't comfortable with that, they can edit the samples operator config to tell it to stop installing this content on their clusters.

and/or they can use tools like ACS to scan their clusters for use of vulnerable content.

I feel the admin pain, but if we get into the business of removing tags out from under clusters, that is also going to be a major sou

[2021-08-18 13:01] toastbrotch opened #385 "cluster-samples-operator and stuck upgrade from 4.6 to 4.7 with restricted networks"
Hi

we had set cluster-samples-operator to unmanaged and we have limited registries to our own (quay which ist not pull-thru-able) with allowedRegistriesForImport in the "images.config cluster" in our network restricted environment.

As we startet upgrade from 4.6.latest to 4.7.22. the whole upgrade got stuck with the creation of the is/hello-openshift. The only way we were able to finish upgrade

[2021-08-18 13:08] gabemontero commented on #385
Yeah across all the openshift operators, you should be using Removed instead of Unmanaged if you don't want that operator running.

Definitely something that has evolved since 4.1 when this stuff first arrived.

I can take a look at updating the README to better explain this.

[2021-08-18 13:10] gabemontero commented on #385
We also have a recent fix wrt delays in start up when in disconnected clusters.  See https://github.com/openshift/cluster-samples-operator/pull/384

Also, overriding is for development purposes only.  Having overrides violates your warranting for official OCP support.  I'll make sure the README makes that clear.

[2021-08-19 06:02] toastbrotch commented on #385
Why are samples a clusteroperator? Why not just another operator that is completely removable?

[2021-08-19 15:59] gabemontero commented on #385
Yeah unfortunately it was the only reliable means of delivering samples back in the 4.0/4.x days a few years ago.  Although not a given/mandatory as you noted, more of our customers at the time (and probably still the case) needed them, so this is how we landed.

There have been internal discussions in engineering as well as external requests from time to time to pull samples out of the payload.

[2021-08-25 06:42] toastbrotch commented on #385
even with "managementState: Removed" the Upgrade on another cluster stops! again with the same problem as originaly reported.

So in my opinion this cluster operator is broken in network-restricted setups where you have only your own registry allowed with allowedRegistriesForImport (https://docs.openshift.com/container-platform/4.7/post_installation_configuration/preparing-for-users.html#images-co

[2021-09-03 07:06] toastbrotch commented on #385
@gabemontero attached the output after upgrade with my described workaround
[samples-imagestreams.txt](https://github.com/openshift/cluster-samples-operator/files/7103914/samples-imagestreams.txt)
[samples-clusteroperator.txt](https://github.com/openshift/cluster-samples-operator/files/7103915/samples-clusteroperator.txt)
[samples-operator.txt](https://github.com/openshift/cluster-samples-operator

[2021-09-07 15:00] gabemontero commented on #385
Thanks for the data @toastbrotch

It was interesting in that everythings from a samples operator perspective is clean and what we would expect.  It says it is a 4.7, everything removed, not degraded.

And yes, the hello openshift imagestream works when you specify quay.io in the allowed registries, facilitating your mirror.  The image imported:  quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha25

[2021-09-13 19:40] gabemontero commented on #385
OK everyone, my last status update wrt this:
-
- the https://github.com/openshift/cluster-samples-operator/pull/394 PR and associated BZ will catch if the global image config blocks the registry used by the sample imagestreams,
- if it happens on initial install, samples will bootstrap as removed
- if it happens after the initial install, through a samples or global image config change, samples wi

[2021-09-15 17:45] #385 closed

[2021-09-23 03:31] manojnkumar opened #398 "Database templates have broken links to documentation"
If you go to an OpenShift cluster and attempt to instantiate a postgres or mysql template, the Documentation links

https://docs.okd.io/latest/using_images/db_images/mysql.html
https://docs.okd.io/latest/using_images/db_images/postgresql.html

The MariaDB link is valid:

https://github.com/sclorg/mariadb-container/blob/master/10.3/root/usr/share/container-scripts/mysql/README.md

If the docs.okd.i

[2021-11-08 08:38] X-dark commented on #356
Hi,

It seems I missed the last comments in the discussion.

For me, the issue is exactly those two points. We have tags that are imported by the cluster sample operator, that have been updated upstreams (within the tag as described in 4.), but the tag update is not reflected on our clusters.

Setting manually the schedule on all imagestreamtags is doable easily with a few bash loops but this is n

[2021-11-08 14:09] bparees commented on #356
it's a decision we made, the reasoning behind the decision is that it we enabled scheduled import by default then:

1) the fleet of openshift clusters(every cluster running anywhere in the world that isn't disconnected) would potentially drive a lot of load to external registries polling for updates to images

2) when users on the clusters consume those samples through deploymentconfigs and buildc

[2021-11-28 21:04] rassie opened #404 "Red Hat registry credentials seem to be required for OKD4"
(opening an issue as requested on Slack https://kubernetes.slack.com/archives/C6AD6JM17/p1637833592421600)

In my OKD4 cluster the `SamplesMissingTBRCredential` alert is always firing, with the message

While I understand why this alert would be firing in an OCP cluster, in an OKD cluster a typical user would not have a contract with Red Hat and thus would have no means to obtain the needed creden

[2022-02-20 05:03] #398 closed

[2022-02-27 08:14] rassie commented on #404
/lifecycle stale

[2022-03-09 08:39] X-dark commented on #356
/remove-lifecycle rotten

[2022-03-29 11:33] rassie commented on #404
/remove-lifecycle stale

[2022-03-29 11:33] rassie commented on #404
While we are at it: is anyone looking at the issues at all?

[2022-03-29 11:33] rassie commented on #404
/remove-lifecycle rotten

[2022-03-29 13:48] gabemontero commented on #404
/assign @dperaza4dustbit

[2022-03-29 13:51] gabemontero commented on #404
@dperaza4dustbit we should work with @vrutkovs as to the best way for the operator to determine if it is OCP or OKD.

If there is not a cluster resource we can query, maybe we can update a file in the image payload when we are building the image (that is when we currently know if we are OCP or OKD)

[2022-06-01 09:58] vittico opened #427 "Operator does not seems to be using the cluster-wide proxy setting"
The proxy/cluster configuration is as follows:

[code]

This proxy variables are inherited by openshift pods, such as cluster-image-registry-operator, but they aren't by cluster-samples-operator, so that we are not able to access registry.redhat.io for images updates.

[code]
Nevertheless, if we export the proxy environment variables inside the pod:

[code]

[2022-06-01 13:28] gabemontero commented on #427
hi @vittico

samples operator do not do the actual import of the image into the image streams; it just creates/updates the sample image streams

you should open this in https://github.com/openshift/image-registry/

[2022-06-03 15:28] dperaza4dustbit commented on #427
Hello @vittico can you confirm we can close this one? thanks

[2022-06-27 19:13] yrro commented on #356
/remove-lifecycle stale

[2022-07-27 13:01] X-dark commented on #356
Hi, as I don't see any significant update on that topic, I plan to deploy a patch with the patch-operator that will target all ImageStreamTag in the `openshift` namespace and add the `scheduled` import policy. Hope I am not putting my clusters at risk doing this but this is just no longer acceptable to have openshift provided images reported as containing high CVE.

[2022-08-27 00:02] #404 closed

[2022-08-31 07:30] germanparente commented on #427
hi @gabemontero before closing this issue, could you explain why the samples operator is not inheriting the proxy variables and it's not using the cluster wide proxy ? Is this harmless ?

Thanks in advance.

[2022-08-31 13:26] gabemontero commented on #427
@vittico @germanparente - a common point of confusion, but the samples operator itself does not reach out to the image registries to pull images; it only creates and manages openshift API objects, specifically imagestreams and templates.

when samples operator does create imagestreams objects, it is then the imagestream subsystem (a combination of the imagestream controller in the openshift contro

[2022-08-31 14:55] germanparente commented on #427
thanks a lot for explanation.

[2022-11-25 15:56] yrro commented on #356
/remove-lifecycle stale

[2022-11-25 15:56] yrro commented on #356
/lifecycle frozen